<template>
  <v-app>
    <v-toolbar fixed app :clipped-left="clipped">
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat href="#/">Home</v-btn>
        <v-btn flat href='#/about-us'>About us</v-btn>
        <v-btn flat href='#/contact'>Contact</v-btn>
        <v-btn flat href='#/test'>Test</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <v-carousel>
            <v-carousel-item v-for="(item,i) in items" :src="item.src" :key="i"></v-carousel-item>
          </v-carousel>
        </v-slide-y-transition>
          <v-carousel interval="3000">
            <v-carousel-item>
              <card-view></card-view>
            </v-carousel-item>
            <v-carousel-item>
              <card-view></card-view>
            </v-carousel-item>
          </v-carousel>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import CardView from './components/CardView'
  import { Carousel, Slide } from 'vue-carousel'
  export default {
    data() {
      return {
        items: [{
            src: 'https://vuetifyjs.com/static/doc-images/carousel/squirrel.jpg'
          },
          {
            src: 'https://vuetifyjs.com/static/doc-images/carousel/sky.jpg'
          },
          {
            src: 'https://vuetifyjs.com/static/doc-images/carousel/bird.jpg'
          },
          {
            src: 'https://vuetifyjs.com/static/doc-images/carousel/planet.jpg'
          }
        ]
      }
    },
    components: {
      CardView,
      Slide,
      Carousel
    }
  }
</script>